.testimonials{
    width: 50rem;
    margin-inline: auto;
}
.testimonials_head{
    justify-content: center;
}

.testimonials_avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    overflow: hidden;
    position: absolute;
    border: 2px solid transparent;
    top: -2rem;
    left: calc(50% - 2rem);
    box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, 0.4);
    transition: var(--transition);
}
.testimonials_quote{
    font-style: italic;
    margin: 1rem 0 2rem;
}
.testimonials_btn-container{
    width: fit-content;
    margin: 2.5rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.testimonials_btn{
    background: transparent;
    cursor: pointer;
}
.testimonials_btn svg{
    fill: var(--color-primary);
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
}


/* media queries  */
@media screen and (max-width:1024px){
    .testimonials{
       width: 75%;
    }
}
@media screen and (max-width:600px){
    .testimonials{
       width: 100%;
    }
}